<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.theflyingrat.com/assets/css/normalize.min.css">
</head>
<body>
    
    <a class="register-open-btn" href="/register">Register</a>
    <section id="login">
        <form name="Login" id="loginForm">

            <label for="username">Username:</label><br>
            <input type="text" name="username" autocomplete="off"><br>

            <label for="password">Password:</label><br>
            <input type="password" name="loginPassword" autocomplete="off"><br>

            <button class="loginButton" name="submit" type="submit" value="submit">Submit</button>

        </form>
    </section>
    
<script src="/static/login.js"></script>

</body>
</html>