<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.theflyingrat.com/assets/css/normalize.min.css">
</head>
<body>
    <!---->
    <!--Contain everything within the register page.-->
    <section id="register">
        <a class="register-close-btn" href="/login">Login</a>
        <!--Contains all the input within the form-->
        <form name="Form" id="form" onsubmit="submitForm()" action="/register/submit" method="post">
        

            <label for="name" >Enter Name:</label><br>
            <input type="text" name="name" autocomplete="off"><br>

            <label for="password1">Enter Password:</label><br>
            <input type="password" name="tempPassword1" autocomplete="off"><br>

            <label for="password2">Re-enter Password:</label><br>
            <input type="password" name="tempPassword2" autocomplete="off"><br>

            <button class="registerButton" name="submit" type="submit" value="submit" onclick="closeForm()">Submit</button>
         </form>
        
    </section>
    
<script src="/static/script.js"></script>

</body>
</html>